/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
/* General */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* Button Style */
.btn-style {
  padding: 21px 35px;
  border-radius: 48px;
  border: none;
}

/* hidden  */
/* .hide {
  display: none;
} */

/* Navigation */
nav {
  display: flex;
  padding-top: 38px;
  justify-content: space-between;
  height: 130px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 0px 240px;
}
.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav-list li {
  padding-left: 32px;
}
.logo {
  display: flex;
  align-items: center;
  text-align: center;
}
.logo img {
  margin-right: 20px;
}
.logo h1 {
  font-size: 45px;
  font-weight: 700;
}
.logo span {
  color: #ff42a5;
}
.follow {
  display: flex;
  align-items: center;
  margin-left: 32px;
  width: 262px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  align-items: center;
  gap: 15px;
}
/* banner section  */
.banner {
  /* padding-right: 00px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-bg {
  height: 700px;
}
.banner-img {
  height: 500px;
  margin-top: 100px;
}

.banner-left {
  padding-top: 108px;
  padding-bottom: 148px;
  padding-right: 240px;  
  padding-left: 240px;
  background-image: url("images/Group\ 14.png");
  background-repeat: no-repeat;
}
.banner-left h3 {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.banner i {
  padding-right: 10px;
}
.banner-btn {
  margin-top: 41px;
}
#sign {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  margin-right: 20px;
}
#go {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: #4ec5f7;
}
#play {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
#goat {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* about section  */
.about {
  padding: 95px 240px;
  display: flex;
  justify-content: center;
  height: 450px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.about img {
  height: 309px;
}
.about-text {
  text-align: right;
}
.about-text h1 {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-text p {
  margin: 20px 0px;
  margin-left: px;
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.about-text span {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}
.about-text h2 {
  color: #534c64;
  font-size: 28px;
  font-weight: 700;
  line-height: 45px;
}
#know {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0px;
}
/* funny videos  */
.funny-videos {
  margin: 50px 240px;
  text-align: center;
}
.funny-videos h1 {
  color: #0b0223;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 10px;
}
.funny-videos span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.funny-videos h6 {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 20px;
}
.video-card-img {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.video-card-img img {
  height: 300px;
}
.video-card-img img:hover {
  border-radius: 16px;
  opacity: 0.7;
  border-radius: 20px;
  border: 5px solid #f948b2;
}
.video-card-img p {
  display: flex;
  justify-content: center;
  text-align: left;
  color: #534c64;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px; /* 150% */
  gap: 20px;
}

/* feature section */
.feature-1 {
  display: flex;
  justify-content: center;
  margin: 0px 200px;
  margin-top: 100px;
  align-items: center;
}
.feature-1-text {
  padding-right: 120px;
  text-align: right;
  font-size: 23px;
  font-style: normal;
  line-height: 40px; /* 125% */
  padding-bottom: 400px;
}
.feature-1 h6 {
  padding-top: 20px;
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-left: 100px;
}
.feature-1 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-img1 {
  padding-left: 100px;
}
#horse {
  height: 500px;
}
#angel {
  position: relative;
  height: 300px;
  bottom: 200px;
  right: 150px;
  /* float: left; */
}
.feature-2 {
  display: flex;
  justify-content: center;
  margin: 0px 200px;
  margin-top: 100px;
  align-items: center;
}
.feature-2-text {
  padding-left: 220px;
  text-align: left;
  font-size: 23px;
  font-style: normal;
  line-height: 40px; /* 125% */
  padding-bottom: 400px;
}
.feature-2 h6 {
  padding-top: 20px;
  color: #534c64;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  /* padding-left: 100px; */
}
.feature-2 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#king {
  height: 500px;
}
#cat {
  position: relative;
  height: 300px;
  bottom: 200px;
  left: 400px;
}
/* career section */
.career {
  display: flex;
  height: 650px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  justify-content: flex-end;
  color: #fff;
}
.career-img {
  display: flex;
  height: 650px;
}
.career-texts {
  max-width: 550px;
  padding: 50px 0px;
  padding-left: 240px;
}
.career-texts h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
  padding-bottom: 10px;
}
.career-texts p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  padding-bottom: 20px;
}
.career-items {
  display: flex;
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  line-height: 40px; /* 200% */
  padding-bottom: 10px;
}
#item2 {
  padding-left: 70px;
  text-align: right;
}
.career button {
  border: none;
  padding: 21px 30px;
  border-radius: 48px;
  background: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #ff42a5;
  /* margin-bottom: 50px; */
}

/* games section  */
.games-bar {
  padding: 120px 120px;
  background: rgba(255, 66, 165, 0.03);
}
.games {
  display: flex;
  align-items: center;
  width: 220px;
  height: 60px;
  border-radius: 50px;
  margin-right: 20px;
  background: #fff;
  gap: 20px;
  color: #0b0223;
  font-size: 13px;
  font-weight: 800;
}
#goblin {
  width: 250px;
}
#mario {
  width: 260px;
}
#bird {
  width: 260px;
}
.game1 {
  display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  justify-content: center;
  align-items: center;
}
.game2 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* margin-left: 40px; */
  align-items: center;
}

.games:hover {
  border: 2px solid#f948b2;
  color: #ff42a5;
}

/* footer  */
.footer {
  height: 250px;
  background: #0b0223;
  color: #fff;
  text-align: center;
  padding: 120px 400px;
}
#footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}
.footer-items {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  gap: 50px;
  margin-bottom: 50px;
}
.footer-icons {
  padding-bottom: 60px;
}
.footer-icons i {
  padding-right: 30px;
}
.policy {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  gap: 50px;
  margin-bottom: 30px;
}
.copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}

/* mobile responsive */
@media screen and (max-width: 576px) {
  .nav {
    /* padding: 0px; */
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 30px 10px;
    /* justify-content: space-between; */
    /* margin-bottom: 10px; */
    box-shadow: none;
  }
  .logo {
    padding-bottom: 10px;
  }
  .logo img {
    height: 30px;
  }
  .logo h1 {
    font-size: 30px;
  }
  .nav-list {
    gap: 20px;
    flex-direction: column;
  }

  .banner {
    /* height: 100%; */
    /* padding: 0px 20px; */
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-bg {
    height: 100%;
  }
  .banner-img {
    height: 100%;
    /* display: none; */
  }
  .btn-style {
    padding: 15px 30px;
    margin-bottom: 10px;
  }
  .banner-btn {
    margin-bottom: 50px;
  }
  .banner-left {
    background-image: none;
  }
  .banner-left h3 {
    font-size: 1rem;
  }
  #play {
    font-size: 1.5rem;
  }
  #goat {
    font-size: 3rem;
  }
  .banner-img {
    width: 100%;
  }

  .about {
    padding: 10px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .about-text {
    text-align: center;
  }
  .about-text p {
    font-size: 1rem;
    text-align: center;
  }
  .about-text h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .about img {
    height: 100%;
  }
  .funny-videos {
    margin: 10px;
  }
  .funny-videos h6 {
    margin: 20px;
  }
  .video-card-img p {
    margin: 0px 50px;
  }
  .video-card-img {
    /* padding: 20px; */
    flex-direction: column;
  }
  .feature-1 {
    margin: 20px;
    flex-direction: column;
    justify-content: space-around;
  }
  .feature-1-text h1 {
    font-size: 2rem;
    text-align: left;
    padding: 10px;
  }
  .feature-1-text h6 {
    text-align: left;
    padding: 10px;
  }
  #horse {
    height: 300px;
  }
  #angel {
    height: 200px;
    position: relative;
    bottom: 100px;
    right: 100px;
  }
  .feature-2 {
    margin: 20px;
    flex-direction: column;
    justify-content: space-around;
  }
  .feature-2-text h1 {
    font-size: 2rem;
    text-align: right;
    padding: 10px;
  }
  .feature-2-text h6 {
    text-align: right;
    padding: 10px;
  }
  #king {
    height: 300px;
  }
  #cat {
    height: 200px;
    position: relative;
    bottom: 100px;
    left: 200px;
  }
  .career {
    flex-direction: column;
    height: 100%;
    padding: 2px;
  }
  .career-texts {
    padding: 20px;
  }
  .career-img {
    height: 300px;
  }
  .game-bar {
    padding: 20px;
  }
  .game1 {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: repeat(2, 1fr); */
  }
  .game2 {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: repeat(2, 1fr); */
  }
  .footer {
    padding: 20px;
    height: 100%;
  }
  .footer-icons i {
    padding: 10px;
  }
  .footer-items {
    padding: 10px;
    flex-wrap: wrap;
  }
  .policy {
    flex-wrap: wrap;
  }
}
